h2 Message from #{fromCompany}, #{fromAgency} with #{role} role
p Salary Range: #{jpySalaryRange} | #{usdSalaryRange}
p #{message}
h2 Benefits:
ul
    li Fully Remote: #{benefitFullRemote ? "✅" : "❎"}
    li Hybrid Remote: #{benefitHybridRemote ? "✅" : "❎"}
    li Flexible Hours: #{benefitFlexibleHours ? "✅" : "❎"}
    li Other: #{benefitOther ? "✅" : "❎"}
